# Gradle e Build
.gradle/
build/
app/build/
**/build/
app/release/
*.apk
*.aab

# Configurazioni IDE (Android Studio / IntelliJ / Obsidian)
.idea/
*.iml
.DS_Store
docs/.obsidian/

# Chiavi e credenziali (Firma APK)
*.jks
*.keystore
keystore.properties
local.properties

# Log e file temporanei
/captures
.externalNativeBuild
.cxx/