*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# configurazioni di obsidian
/docs/.obsidian

*.jks
*.keystore
keystore.properties

# tutt i  file delle build
/app/build
